a{
    text-decoration:none;
    color:black;
}
img{
    max-width: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
}
.grey{
    color:rgb(97, 96, 96);
}
.orange{
    color:orange;
}
.half-width{
    width:50%;
}
.one-thard-width{
    width:33%;
}
.hero{
    display: flex;
}
.hero-content{
    margin-top: 17px;
    padding: 60px;

}
.hero-content h1{
    font-size:55px;
}
.hero-img {
    text-align: center;
}
.hero-img img{
    width: 520px;
}
.link-button{
    text-transform: capitalize;
    background-image: linear-gradient(orangered,#fc8f49);
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    display: inline-block;
}
.about-main{
    display:flex;
    margin-top:70px;
    background-image:url(img/Frame59.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.about-img{
    text-align: center;
}
.about-img img{
    width:430px;
}
.about-content{
    padding: 77px;
}
.about-content h2{
    font-size: 36px;
    color:rgb(100, 99, 99);
}
.about-content p{
    
    width: 414px;
    margin-bottom: 30px;

}
.recipie-main{
    margin-top:100px;
}
.recipie-head{
    text-align: center;
    color:rgb(100, 99, 99);


}
.recipie-head h2{
    font-size: 34px;
}
.recipie-head p{
    width: 50%;
    margin:auto;
}
.recipie-items{
    display: flex;
    margin:40px;
}
.recipie-item{
    padding: 28px;
    margin: 2%;
    box-shadow: 1px 1px 18px #12e8e8bf;
    border-radius: 20px;
}
.recipie-item img{
    border-radius: 20px;
}
.recipie-item h2{
    text-transform: capitalize;
}
.recipie-item p{
    color:rgb(82, 82, 82);
}
.counter{
    margin:50px;
}
.counter-main{
    display: flex;
    box-shadow: 1px 1px 18px #12e8e8bf;
    padding: 26px;
    border-radius: 20px;
}
.counter-item{
    text-align: center;
}
.counter-item h1{
    font-size:36px;
    margin:0;
}
.counter-item p{
    color:rgb(82, 82, 82);
    margin:0;
}
footer{
    background-color:#0b0d17;
    color:rgb(82, 82, 82);
    text-align:center;
    padding: 48px;
}
footer h2{
    font-size: 38px;
    margin:0;
}
footer p{
    color:rgb(194, 190, 190);
    margin:0;
}
